.root{
    -fx-background-color: #00bfff;
}


.table-view{

}


.table-row-cell:odd{
      -fx-background-color: #bfff00;
       -fx-background-insets: 0,0 0 1 0;

}

.table-row-cell:even{
    -fx-background-color: #ffb3b3;
    -fx-background-insets: 0,0 0 1 0;
}